<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Trang chinh</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin/main.css">

</head>
<body>
<div layout:fragment="content">
    <div class="main-body-content w-100 ets-pt">
        <div class="table-responsive bg-light">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>PhoneNumber</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                <tr>
                    <td>Vinay</td>
                    <td>Sharma</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                </tr>
                <tr>
                    <td>Vinay</td>
                    <td>Sharma</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                </tr>
                <tr>
                    <td>Vinay</td>
                    <td>Sharma</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                </tr>
                <tr>
                    <td>Vinay</td>
                    <td>Sharma</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                    <td>lorem ipssum dollor dummy</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
